# Application Configuration
NODE_ENV=development
PORT=4000
CLIENT_API_HOST=http://localhost:3000
APP_URL=http://localhost:4000
X_API_KEY=123123
SERVICE_TYPE=MainService

# JWT Configuration
JWT_SECRET='123123'

DOCKER_IMAGE_NAME=gober-api
DOCKER_IMAGE_TAG=latest

# Mongo
MONGO_URI=mongodb://mongo:123123@localhost:27017/gober-db-mongo?authSource=admin

# REDIS
REDIS_HOST=redis-server
REDIS_PORT=6379
REDIS_URL=redis://redis-server:6379

# Minio Upload
STORAGE_LOCAL_ENDPOINT=minio_server
MINIO_UPLOAD_LOCAL_PORT=9000
USE_SSL=false
STORAGE_ENDPOINT=minio_server
MINIO_UPLOAD_PORT=9000
MINIO_UPLOAD_BUCKET_NAME=gober
MINIO_UPLOAD_ACCESS_KEY=admin-gober
MINIO_UPLOAD_SECRET_KEY=test-password

# RabbitMQ
RABBITMQ_USER=gober-rmq_admin
RABBITMQ_PASSWORD=123123
RABBITMQ_URI=amqp://gober-rmq_admin:123123@rabbitmq:5772